<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ pageTitle }}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/welcome']"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/products']"
        >Product List</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/products/0/edit']"
        >Add Product</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/project']"
        >Project</a
      >
    </li>
  </ul>
</nav>
<app-header></app-header>
<h1>Hello, APM.V18</h1>
<!-- Updated to use the new 'config' object -->
<p>
  Beta Features:
  {{ config?.enableBetaFeatures ? "Enabled" : "Disabled" }}
</p>
<p>User Service URL: {{ config?.userServiceUrl }}</p>

<div class="container">
  <router-outlet></router-outlet>
</div>
